/*colores para el header y su contenido*/
$fondo-header: #465d71;
$nombre-c: #d8dfe6;
$nav-header: #b8cada;
$c-name: #2b3c4b8a;
$c-redes: #b4c4d4;

/*colores y tipografias para la primera seccion*/
$c-section-1: #bbced4;
$circulo-c: #c6d8e0;

/*variables de reseteo*/
$t-n: none;

