#header-container {
    @include flex (center, null, null);
    background-color: $fondo-header;
        .header-nav {
            padding: 10px;
            width: 900px;
            padding: 15px;
                .header-ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .header-li{
                        display: inline-block;
                        a {
                        font-family: 'Aboreto', cursive;;
                        color: $nav-header;
                        font-size: 1.2rem;
                            &:hover {
                                color: #fff;
                            }
                            &:hover::after {
                                @include animation;
                            }
                        }
                    }
                }
        }
}
